$main--accent: rgb(242, 80, 110);
$main--background: rgb(242, 242, 242);
$main--text: rgb(32, 41, 64);
$main--middle: rgb(74, 115, 140);
$main--creme: rgb(242, 208, 145);

$light--text: $main--background;

$modal--background: rgba(0, 0, 0, 0.3);
