html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import './colors';
@import '../fonts/fonts';
@import '../components/signup/signup';
@import '../components/modal/modal';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/search/search';

body {
	font-family: 'helvetica' sans-serif;
	font-size: 16px;
	line-height: 1.6;

	// padding: 0 2em;
	color: $main--text;
	background: $main--background;
}

.dark-background {
    background: url('http://i1136.photobucket.com/albums/n491/skywalkr16/GIFS/remembrall.gif') no-repeat;
    background-size: cover;

    min-height: 100vh;
    min-width: 100vw;
    color: $main--text-dark;
}

a {
	color: $main--accent;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid $main--accent;
}

.header__image{
	width: 385px;
	height: 215px;
}

.tr{
	overflow: hidden;
	text-indent: -100%;
}

.center{
	margin:0 auto;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

footer{
	font-size: .75em;
}
