@import './colors';
@import '../lib/normalize.css/normalize';
@import '../fonts/fonts';
@import '../components/signup/signup';
@import '../components/modal/modal';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/search/search';

body {
	font-family: 'helvetica' sans-serif;
	font-size: 16px;
	line-height: 1.6;

	padding: 0 2em;
	color: $main--text;
	background: $main--background;
}

a {
	color: $main--accent;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid $main--accent;
}