html{
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px;
	color: rgb(255, 255, 255);
	line-height: 1.6em;
	font-weight: normal;
	/*background-color: rgb(35, 130, 171);*/
	background: rgb(20,20,20);

	margin: 0;
	padding: 0;
}

nav{
	float: left;
}

.three-col{
	-moz-column-count: 3;
   -moz-column-gap: 2em;
   -webkit-column-count: 3;
   -webkit-column-gap: 2em;
}

.article-content{
	width:80%;
	margin: 0 auto;
	background: rgba(30,30,30,0.7);
	padding:2em;
}

.branding{
	margin: 1em;
	float: left;
}

#mainNav{
	padding-left: 1em;
}

#mainNav li{
	float: left;
	list-style: none;
}

.pane{
	position: absolute;
	top: 0;
	width: 100%;
	right: 0;

	min-height: 100%;

	transition: all 1s;
}

.off-screen-right{
	width: 100%;
	height: auto;
	background-color: rgb(0,0,255);
	right: -98%;
	top: 0;
	padding-top: 2.5em;
}

.off-screen-left{
	width: 100%;
	height: auto;
	background-color: rgb(255,0,0);
	left: -98%;
	top: 0;
	padding-top: 2.5em;
}

.right-helper-tab, .left-helper-tab{
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	top: 1em;
	right: 0;
	z-index: 1001;
	cursor: pointer;
}

.left-helper-tab{
	left: 0;
	right: auto;
}

.header-image{
	position: relative;
}

.header-image img{
	width: 100%;
}

/***** FOOTER *****/
footer div{
	display: block;
	float: none;
}

footer{
	background-color: rgba(255,255,255,.8);
	color: rgb(30,30,30);
	padding: 1em 1.5em 1.5em 1.5em;
	border-top: 1px solid rgb(255,255,255);
}
/***** END FOOTER *****/

/***** TYPOGRAPHY *****/
/*.ptsans{
	font-family: 'PT Sans', sans-serif;
}*/

h1, h2, h3, .ptSansNarrow{
	font-family: 'PT Sans Narrow', sans-serif;
}

body, p, .ptSerif{
	font-family: 'PT Serif', serif;
}
/***** END TYPOGRAPHY *****/

#mainNav a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: .25em .5em;
}

a:visited {
	color: rgb(255, 145, 0);
	text-decoration: none;
}

a {
	color: rgb(255, 145, 0);
	text-decoration: none;
}

.cross-out{
	text-decoration: line-through;
}

/***** PADDING AND MARGIN *****/
.body-padding{
	padding: 0 1.5em;
}
.main-content{
	margin: 0 2em;
}

/***** END PADDING AND MARGIN *****/

/***** MODIFIERS *****/
.block{
	display: block;
}
.clear{
	clear: both;
}
/***** END MODIFIERS *****/

@media (min-width: 35em){
	.main-content, .article-content{
		width:30em;
		margin: 0 auto;
	}

	.extra-top.main-content{
		margin: 19em auto 0 auto;
	}

	.header-image{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		overflow: hidden;
		z-index: -100;
	}
	.header-image img{
		width: 100%;
		/*margin-top: -15%;*/
	}

	.about-me{
		background:rgba(20,20,20,0.8);
		padding: .1em 2em 1em 2em;
	}
}
@media (min-width: 65em){
	.main-content{
		width:30em;
		margin: 10em auto;
	}

	.heading{
		color: rgb(30,30,30,);
	}
}