.article {
	max-width: 40.96rem;
	margin: 0 auto;

	&--cross-out {
		text-decoration: line-through;
	}

	&__heading {
		font-family: 'League Spartan' sans-serif;
		font-size: 2.560rem;
		line-height: 1.3em;

		margin: 0;
	}

	&__meta {
		font-style: italic;
		font-size: .625rem;
	}
}