{{#def._head}}
{{#def._header}}
	<article class="article">
		<h2 class="article__heading">
			I'm {{= it.me.name }}
		</h2>
		<section class="article__meta"></section>

		{{= it.bio }}

		<h3 class="article__heading">
			Colophon
		</h3>

		{{= it.colophon }}
	</article>
{{#def._footer}}
{{#def._foot}}