{{#def._head}}
{{#def._header}}
	<form class="signup">
		<label>Your Name: <input type="text" name="name"></label>
		<label>Application Name: <input type="text" name="app"></label>
		<label>What does it do?: <textarea name="what"></textarea></label>
		<button type="submit">Apply</button>
	</form>
{{#def._footer}}
{{#def._foot}}