{{#def._head}}
{{#def._header}}
	<article class="article">
		<h2 class="article__heading">
			{{= it.title }}
		</h2>
		<section class="article__meta">Published: {{= it.publishedDate }}</section>

		{{= it.content }}	
	</article>
{{#def._footer}}
{{#def._foot}}