<h3>Your Auth Information</h3>
<p>Use these to make your requests against the API. Do not give these to other people... for obvious reasons. Also the URL that you gave us at setup will be used to set the CORS headers for your data.</p>
<h4>Key:</h4>
<p class="modal__auth">{{= it.key }}</p>
<h4>Token:</h4>
<p class="modal__auth">{{= it.auth }}</p>

<h4>Examples &amp; Docs</h4>
<p>Include the token as an <code>authorization</code> header and then make requests against the api. For example you would hit <code>http://ansble.com/api/v1/my-key-goes-here</code> to retrieve all of the data you have stored with that key.</p>