<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>ansble: rest api-ed data store for you and your apps</title>
    <link href="/built/css/main.css" rel="stylesheet">
  </head>
  <body class="dark-background">
    <h1 class="header__image tr center">the golden snitch</h1>
    <p class="text-center">coming very very soon&hellip;</p>
    <footer class="text-right">

    </footer>
  </body>
</html>
